<div style="margin-top: -250px" class="container h-100">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>Email <br> NOTIFICATIONS</h1>
            <p>Display and send Email Notifications</p>
          </div>
          <a routerLink="/email/list-notifications">more</a>
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>WhatsApp <br>
  NOTIFICATIONS</h1>
            <p>Display and send WhatsApp Notifications</p>
          </div>
          <a routerLink="/whatsapp/list-notifications">more</a>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>SMS <br>NOTIFICATIONS</h1>
            <p>Display and send SMS Notifications</p>
          </div>
          <a routerLink="/sms/list-notifications">more</a>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
        </div>
      </div>
      
    </div>
  </div>