<!doctype html>
<html lang="en">
  <head>
  	<title>Website menu 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	

	</head>
	<body>
	<section *ngIf="currentUser" class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">

			</div>
		</div>
		
		<div style="margin-top: -80px;" class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<h2 style="font-family: fantasy;">SMSENDER</h2>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">

			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">

				</div>
			</div>
		</div>
		<nav style="margin-top: -0;" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item" routerLinkActive="active"><a routerLink="/home" class="nav-link">Home</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="/email/list-notifications" class="nav-link">Notifications</a></li>
	        	<li class="nav-item" routerLinkActive="active"><a routerLink="/journal" class="nav-link">Journal</a></li>
	        	<li class="nav-item" routerLinkActive="active"><a routerLink="/stats" class="nav-link">Statistiques</a></li>
	          	<li class="nav-item" routerLinkActive="active"><a routerLink="/settings" class="nav-link">Settings</a></li>
				<li class="nav-item" routerLinkActive="active"><a class="nav-link" (click)="logout()">Logout</a></li>	  
				  
	        </ul>
	      </div>
	    </div>
	  </nav>

	</section>




    



	</body>
</html>
