<div class="row m-3">
    <div class="col-md-12">
        <a routerLink="/whatsapp/list-notifications"><i class="fa fa-arrow-circle-left"></i></a>
    </div>
    
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Id: {{whatsapp.id}}</h4>
        <div class="row">
            <div class="col-md-8">
               

                <ul class="list-group" >
                    <button class="btn btn-info" (click)="sendNotificationNow()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    <li class="list-group-item">Type: <strong>{{ whatsapp.type }}</strong></li>
                    <li class="list-group-item">Message: <strong>{{ whatsapp.message }}</strong></li>
                    <li class="list-group-item">Heure d'envoi: <strong>{{ whatsapp.date_envoi  }}</strong></li>
                    <li class="list-group-item">Fréquence: <strong>{{ whatsapp.frequence  }}</strong></li>

                    <li class="list-group-item">Importation: <strong>{{ whatsapp.impoMethod  }}</strong></li>
                    <li class="list-group-item">Status: <strong>{{ whatsapp.status  }}</strong></li>

                    </ul>
            </div>

        </div>
    </div>
</div>